.root{ /* Makes the background a nice colour */
  -fx-background-color: honeydew;
}

.label{ /* Makes the accuracy and precision labels bold */
  -fx-font-weight: bold;
}
.text-field{ /* Makes the accuracy and precision boxes a nice colour */
  -fx-background-color: powderblue;
  -fx-background-radius: 4;
}